APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
MAX_FILE_SIZE=10
FILE_DEFAULT_CHUNK_SIZE = 512000 # 512K


MONGODB_URL="mongodb://admin:admin@localhost:27007"
MONGODB_DATABASE="mini-rag"


# ========================= LLM Config =========================
GENERATION_BACKEND =
EMBEDDING_BACKEND =


OPENAI_API_KEY=""
OPENAI_API_URL="https://localhost:127.0.0.1:11500/v1" # For local testing with OLLAMA API Proxy
COHERE_API_KEY=""


# GENERATION_MODEL_ID="command-r-plus-08-2024"   # Cohere
GENERATION_MODEL_ID="llama-3.2-3b-instruct-q4_k_m:latest"   # Ollama
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0" # Cohere
#GENERATION_MODEL_ID="gpt-3.5-turbo"   # OpenAI
EMBEDDING_MODEL_SIZE=384


INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

# ========================= Vector DB Config =========================
VECTOR_DB_BACKEND =
VECTOR_DB_PATH =
VECTOR_DB_DISTANCE_METHOD =

# ========================= Template Configs =========================
PRIMARY_LANG="ar"
DEFAULT_LANG="en"
